<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MWconnectionString" connectionString="Database=FTDeliveryApp_LIVE;Server=WIN-D2CGSBG2TUL\SQL2017;User ID=sa;Password=Phan921381!;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>